
sudo: false

language: php

services:
  - mysql

php:
  - 5.6
  - 7.2

addons:
  apt:
    packages:
      - mediainfo

before_script:
  - mysql -e 'create database mediahub_test;'
  - composer update
  - mkdir www/uploads
  - mkdir tmp

script: phpunit --verbose --bootstrap tests/init.php tests
