/* 
-------------------------------------------------
Supporting styles for listings of channels
-------------------------------------------------
*/

.mh-list-header, .mh-feed-list > li {
    border-bottom: 1px solid #d0cec6;
}

.mh-list-header h1 {
	margin-bottom: 0;
}

.mh-list-header .wdn-subhead {
	margin: 0;
}

.mh-list-header h1 .wdn-subhead{
	font-size:.23em;
}

.mh-list-header p {
	margin-top: 0;
	font-style: italic;
}

.mh-feed-list {
	padding: 0;
	list-style: none;
}

.mh-feed-list h2 {
	margin-bottom: 0;
}

.mh-feed-author {
	margin: 0;
	font-style: italic;
}

.mh-feed-list img {
	width: 100%;
}

.mh-feed-list li a {
	border: 0;
}

.mh-feeds .wdn_pagination {
	text-align: center;
	padding: 0;
}

.mh-feeds .wdn_pagination li {
	display: inline-block;
	float: none;
}

.mh-feed-stats {
	text-align: center;
}

.mh-stat {
	line-height: 1;
}

.mh-stat .mh-count {
	font-size: 40px;
	display: block;
	white-space: nowrap;
}

.mh-stat .mh-context {
	font-size: 10px;
	text-transform: uppercase;
}

.mh-more-info {
	text-align: right;
}

p.mh-more-info a {
	border: 0;
}

.mh-channel-thumb {
	border: solid rgba(174, 167, 141, 0.21) 10px;
	overflow: hidden;
	margin-bottom: .75em;
	position: relative;
}

.mh-channel-thumb > div {
	background-color: rgba(194, 190, 174, 0.59);
}

.mh-channel-thumb object {
	margin: 20% 0;
}

.mh-channel-thumb img{
	margin-bottom: -9px;
}

@media (max-width: 960px) {
	.mh-video-thumb.mh-channel-thumb object {
	margin: 13% 0;
	}
}

@media (max-width: 768px) {

	.mh-media-samples li:nth-child(n+5) {
		display: none;
	}
	
	.mh-feed-stats {
		display: none;
	}
	.mh-video-thumb.mh-channel-thumb object {
	margin: 23% 0;
	}

}