/*
-------------------------------------------------
Supporting styles for specifics presentations on the homepage
-------------------------------------------------
*/

/*
-------------------------------------------------
Heading view switcher
-------------------------------------------------
*/

#dcf-main .group {
  border-bottom: 1px solid #3b679e;
}

#dcf-main .group h3,
#dcf-main #exploreMedia h3 {
  color: #385E9B;
  display: inline;
  font-weight: bold;
}

#dcf-main .group::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

#dcf-main .group .switcher {
  float: right;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

#dcf-main .group .switcher li {
  display: inline;
  float: left;
  margin-right: 7px;
  margin-top: 8px;
}

#dcf-main .group .switcher li a {
  border-bottom: none;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  color: #4f4f4f;
  font-size: .9em;
  padding: 5px 10px 6px;
}

#dcf-main .group .switcher li a:hover {
  background-color: #f6f8f9;
  background-image: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
}

#dcf-main .group .switcher li a.selected {
  background-color: #3b679e;
  background-image: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(33, 54, 88, .4) -1px -1px 0;
}

#dcf-main .group .switcher li a:focus {
  color: #4f4f4f !important;
}

#dcf-main .group .switcher li a.selected:focus {
  color: #fff !important;
}

#dcf-main .group .switcher li a.selected:focus {
  color: #fff !important;
}


/*
-------------------------------------------------
Add Media Button
-------------------------------------------------
*/

#dcf-main #exploreMedia {
  clear: both;
  padding-top: 25px;
}

#dcf-main #exploreMedia h3 {
  border-bottom: 1px solid #3b679e;
  display: block;
  float: none;
  padding-bottom: 3px;
}

.box_display {
  padding-top: 15px;
  width: 100%;
}

.box_display div {
  display: inline-block;
  float: left;
  width: 50%;
}

#dcf-main #exploreMedia h4 {
  color: #71819a;
  font-weight: bold;
}

#dcf-main #exploreMedia div {
  min-height: 90px;
}

#dcf-main #exploreMedia div p {
  width: 60%;
}

#dcf-main #exploreMedia .exp_channels {
  background: url('images/bwIconTV.png') no-repeat 90% 0;
}

#dcf-main #exploreMedia .exp_tags {
  background: url('images/bwIconTag.png') no-repeat 90% 0;
}
