/*
-------------------------------------------------
Supporting styles for specifics presentations on the homepage
-------------------------------------------------
*/

/*
-------------------------------------------------
Heading view switcher
-------------------------------------------------
*/

#dcf-main .group {
    border-bottom:1px solid #3b679e;
}
#dcf-main .group h3, #dcf-main #exploreMedia h3 {
    display:inline;
    color:#385E9B;
    font-weight:bold;
}
#dcf-main .group:after {
    clear:both;
    content: '.';
    display:block;
    height:0px;
    visibility:hidden;
}
#dcf-main .group .switcher {
    list-style:none;
    padding:0;
    float:right;
    margin-top:0px;
}
#dcf-main .group .switcher li {
    display:inline;
    margin-right:7px;
    float:left;
    margin-top:8px;
}
#dcf-main .group .switcher li a {
    padding: 5px 10px 6px;
    border-radius:25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    color:#4f4f4f;
    font-size:0.9em;
    border-bottom: none;
}
#dcf-main .group .switcher li a:hover {
    background: #f6f8f9;
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
}
#dcf-main .group .switcher li a.selected {
    font-weight:bold;
    color:#fff;
    background: #3b679e;
    text-shadow: rgba(33, 54, 88, 0.4) -1px -1px 0;
    background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
}
#dcf-main .group .switcher li a:focus {
    color:#4f4f4f !important;
}
#dcf-main .group .switcher li a.selected:focus {
    color:#fff !important;
}
#dcf-main .group .switcher li a.selected:focus {
    color:#fff !important;
}
/*
-------------------------------------------------
Add Media Button
-------------------------------------------------
*/
#dcf-main #exploreMedia {
    padding-top:25px;
    clear:both;
}
#dcf-main #exploreMedia h3 {
    display:block;
    border-bottom:1px solid #3b679e;
    float:none;
    padding-bottom:3px;
}
.box_display {
    width:100%;
    padding-top:15px;
}
.box_display div {
    display:inline-block;
    float:left;
    width:50%;
}
#dcf-main #exploreMedia h4 {
    color:#71819a;
    font-weight:bold;
}
#dcf-main #exploreMedia div {
    min-height:90px;
}
#dcf-main #exploreMedia div p {
    width:60%;
}
#dcf-main #exploreMedia .exp_channels {
    background:url('images/bwIconTV.png') no-repeat 90% 0%;
}
#dcf-main #exploreMedia .exp_tags {
    background:url('images/bwIconTag.png') no-repeat 90% 0%;
}