.mh-search-container {
	height: 10em;
	background-image: url(images/search-bg.png);
}
.mh-search-bg-video {
	transform: translateY(-33%);
}
.mh-featured-icon img,
.mh-featured-icon object {
	width: 43%;
}
.mh-featured h2 {
	color: inherit;
}
.mh-green {
	background-color: #00BD3C;
}
.mh-blue {
	background-color: #1B9AE8;
}
@media only screen and (max-width:768px) {
	.mh-search-bg-video {
		display: none;
	}
}
