/* 
-------------------------------------------------
Supporting styles for individual presentation of media pages
-------------------------------------------------
*/
.supportingContent {margin-top:20px;}
#properties h5 {
    font-weight:bold;
    font-size:1.1em;	
}
#properties h5 + p {
    font-size:0.8em;	
}

.size {
    background:url('images/iconSize.png') no-repeat;
    font-size:1.5em;
    color:#aaa9a9;
    font-weight:bold;
    display:block;
    padding:0px 0 2px 23px;
    margin-bottom:3px;
}
.author, .addedDate, .duration, .embed, .subhead {
    color:#999999;
    font-size:0.7em;
    display:block;
}
.subhead {margin-top:-5px;border-bottom:1px solid #eee;margin-bottom:10px;}

.duration {
    background:url('images/iconClock.png') no-repeat 0 3px;
    padding:0px 0 2px 17px;	
}

/* 
-------------------------------------------------
Tags 
-------------------------------------------------
*/

#maincontent ul#mediaTags{
    min-height:16px;
    padding:5px 25px;
    list-style:none;
    background:url('images/iconTag.png') 5px 8px no-repeat #f7f7f7;
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
    margin-bottom:10px;
}
#maincontent ul#mediaTags li {
    display:inline;
}
#maincontent ul#mediaTags li:after {
    content: ', ';
}
#maincontent ul#mediaTags li:last-of-type:after {
    content: '';
}
#maincontent ul#mediaTags li#mediaTagsAdd {
    padding:5px;
    background:#ededed;
    text-transform:uppercase;
    font-size:0.9em;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    text-shadow: rgba(180, 180, 180, 0.4) 1px 1px 1px;
    font-weight:bold;
}
#maincontent ul#mediaTags li#mediaTagsAdd a:before {
    content: '+ ';
}
#maincontent #addTags {
    display:inline;
}
#maincontent #addTags input {
    margin-left:5px;
}
#maincontent #addTags input[type="text"] {
    height:10px;
}
#maincontent #addTags input[type="submit"] {
    background:#ac0302;
    color:#fff;
    font-weight:bold;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:0;
    padding:2px 4px;
}

/* 
-------------------------------------------------
Embed
-------------------------------------------------
*/
.embed {
    background: url('images/iconCode.png') no-repeat 5px 4px;
    padding-left:23px;
    font-weight:bold;
    font-size:0.9em;
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:3px;
}
.embed:hover {
    border-color:#bbb;
    cursor:pointer;
    color:#7d7d7d;
}
#maincontent #sharing{display:none;}
#sharing h3 {
    font-size:2.4em;
    font-weight:bold;
    letter-spacing:-1px;
    margin: 10px 0;
    text-transform:capitalize;
}
#sharing p {
    margin:15px 0;  
}
#sharing textarea {width:96%;}