/* 

Supporting styles for individual presentation of media elements

*/
.supportingContent {margin-top:20px;}
#properties h5 {
    font-weight:bold;
    font-size:1.1em;	
}
#properties h5 + p {
    font-size:0.8em;	
}

.size {
    background:url('images/iconSize.png') no-repeat;
    font-size:1.5em;
    color:#aaa9a9;
    font-weight:bold;
    display:block;
    padding:0px 0 2px 23px;
    margin-bottom:3px;
}

.author, .addedDate, .duration, .embed, .subhead {
    color:#999999;
    font-size:0.7em;
    display:block;
}
.subhead {margin-top:-5px;border-bottom:1px solid #eee;margin-bottom:10px;}
.embed {
    background: url('images/iconCode.png') no-repeat 5px 4px;
    padding-left:23px;
    font-weight:bold;
    font-size:0.9em;
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:3px;
}
.embed:hover {
	border-color:#bbb;
	cursor:pointer;
	color:#7d7d7d;
}
.duration {
    background:url('images/iconClock.png') no-repeat 0 3px;
    padding:0px 0 2px 17px;	
}
#maincontent ul.channels {
    list-style:none;
    padding:0;	
    margin-bottom:10px;
}
#maincontent ul.channels li {
    padding:5px;
    border:2px solid #fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
}
#maincontent ul.channels li img {
    max-width:206px;	
}
#maincontent ul.channels li:hover {
    border-color:#bbb;	
}
#maincontent ul.channels li:hover .title {
    display:block; 
}
ul.channels .title {
    text-transform:capitalize;
	background:#F7F7F7;
	color:#555555;
	display:none;
	font-weight:bold;
	left:0;
	padding:1px;
	position:absolute;
	text-transform:uppercase;
	top:0;
	width:214px;
	opacity:0.74;
	border-bottom:1px solid #ebebeb;	
}
#maincontent #sharing{display:none;}
#colorbox h3 {
    font-size:2.4em;
    font-weight:bold;
    letter-spacing:-1px;
    margin: 10px 0;
    text-transform:capitalize;
}
#colorbox p {
    margin:15px 0;  
}
#colorbox textarea {width:96%;}