/*
-------------------------------------------------
Supporting styles for individual presentation of media pages
-------------------------------------------------
*/

.supportingContent {
  margin-top: 20px;
}

#properties h5 {
  font-size: 1.1em;
  font-weight: bold;
}

#properties h5 + p {
  font-size: .8em;
}

.size {
  background: url('images/iconSize.png') no-repeat;
  color: #aaa9a9;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
  padding: 0 0 2px 23px;
}

.subhead {
  margin-bottom: 10px;
  margin-top: -5px;
}

.duration {
  background: url('images/iconClock.png') no-repeat 0 3px;
  padding: 0 0 2px 17px;
}

.itunes_subtitle {
  margin: 0;
}


/*
-------------------------------------------------
Tags
-------------------------------------------------
*/

#dcf-main ul#mediaTags{
  list-style: none;
  margin-bottom: 10px;
  min-height: 16px;
  padding: 15px 0;
}

#dcf-main ul#mediaTags li {
  background-color: var(--bg-btn-inverse-tertiary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  display: inline-block;
  font-size: .75em;
  margin: 0 .75em .75em 0;
  padding: .422em .75em;
  text-transform: uppercase;
}

#dcf-main ul#mediaTags li:last-of-type::after {
  content: '';
}

#dcf-main ul#mediaTags li#mediaTagsAdd {
  border: dashed 2px var(--b);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: none;
  font-size: .9em;
  min-height: 2.53em;
  min-width: 2.53em;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#dcf-main ul#mediaTags li a {
  border-bottom: none;
}

#dcf-main ul#mediaTags li#mediaTagsAdd a::before {
  content: '+ ';
}

#dcf-main #addTags {
  display: inline;
}

#addTags input[type="text"] {
  margin-right: 2%;
  padding: .64em .75em;
  width: 75%;
}

#addTags input[type="submit"] {
  position: relative;
  top: -2px;
}


/*
-------------------------------------------------
Embed
-------------------------------------------------
*/

#dcf-main #sharing {
  display: none;
}

#sharing h3 {
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 10px 0;
  text-transform: capitalize;
}

#sharing {
  padding: 1em;
}

#sharing textarea {
  width: 96%;
}

body #cboxLoadedContent {
  background-color: #fff;
}

body #cboxOverlay {
  background-color: #000;
}

.mh-video-thumb {
  border: 1px solid rgba(174, 167, 141, .21);
  margin-bottom: .75em;
}

.mh-video-label p {
  font-style: italic;
}

.mh-video-label *,
.mh-video-label a:visited {
  margin: 0;
}

.mh-video-thumb:hover .mh-play-button::after {
  display: block;
}

.mh-play-button::after {
  background-color: rgba(208, 0, 0, .7);
  background-image: url(images/play-icon-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  color: #fff;
  content: '';
  display: none;
  font-family: mh-icon;
  font-size: 200%;
  font-style: normal;
  font-weight: 400;
  height: 0;
  left: 50%;
  line-height: 0;
  margin-left: -15%;
  margin-top: -15%;
  padding: 15% 0;
  position: absolute;
  top: 50%;
  width: 30%;
  z-index: 10;
}

.mh-search #wdn_app_search form {
  float: none;
}

.mh-sidebar {
  margin-bottom: 3.38em;
}

#media_submit {
  margin-right: .75em;
}

#dcf-main ul#mediaTags li.mh-tag-label {
  background-color: transparent;
  box-shadow: none;
}

.mh-stat {
  margin: 1em 0;
}

.mh-stat .mh-size,
.mh-stat .mh-ratio {
  display: block;
  font-size: 1.78em;
  white-space: nowrap;
}

.mh-summary {
  margin: 0 0 1em 0;
}

.mh-flip-180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#continue3 {
  margin-right: .75em;
}

.mh-video-band {
  background-color: #1e1e1e;
}

#dcf-main .dcf-bleed .mh-iframe-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25% 0;
  position: relative;
}

#dcf-main .dcf-bleed .mh-iframe-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.mh-media-page h2 {
  font-size: 1.44rem;
}


@media only screen and (max-width: 480px) {

  .mh-hide-bp1 {
    display: none !important;
  }

}


@media only screen and (max-width: 768px) {

  .mh-sidebar {
    margin-top: 3.38em;
  }

  .mh-hide-bp2 {
    display: none !important;
  }

}


@media only screen and (max-width: 960px) {

  .mh-hide-bp3 {
    display: none !important;
  }

}


@media only screen and (max-width: 1044px) {

  .mh-hide-bp4 {
    display: none !important;
  }

}
