/* 
-------------------------------------------------
Supporting styles for individual presentation of media pages
-------------------------------------------------
*/
.supportingContent {margin-top:20px;}
#properties h5 {
    font-weight:bold;
    font-size:1.1em;	
}
#properties h5 + p {
    font-size:0.8em;	
}

.size {
    background:url('images/iconSize.png') no-repeat;
    font-size:1.5em;
    color:#aaa9a9;
    font-weight:bold;
    display:block;
    padding:0px 0 2px 23px;
    margin-bottom:3px;
}
.author, .addedDate, .duration, .embed, .subhead, .play_count {
    color:#999999;
    font-size:0.7em;
    display:block;
}
.subhead {
    margin-top:-5px;
    margin-bottom:10px;
}

.duration {
    background:url('images/iconClock.png') no-repeat 0 3px;
    padding:0px 0 2px 17px;	
}

/* 
-------------------------------------------------
Tags 
-------------------------------------------------
*/

#maincontent ul#mediaTags{
    min-height:16px;
    padding: 15px 0px;
    list-style:none;
    margin-bottom:10px;
}
#maincontent ul#mediaTags li {
    display: inline-block;
    background-color: #fff;
    padding: .422em .75em;
    margin: 0 .75em 0.75em 0;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px RGBA(0,0,0,0.25);
    font-size: .75em;
}

#maincontent ul#mediaTags li:last-of-type:after {
    content: '';
}
#maincontent ul#mediaTags li#mediaTagsAdd {
    padding:5px;
    text-transform:uppercase;
    font-size:0.9em;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border: dashed 2px #B8B8B8;
    text-align: center;
    min-height: 2.532em;
    min-width: 2.532em;
    box-shadow: none;
}
#maincontent ul#mediaTags li a {
     border-bottom:none;
}
#maincontent ul#mediaTags li#mediaTagsAdd a:before {
    content: '+ ';
}
#maincontent #addTags {
    display:inline;
}
#maincontent #addTags input[type="text"] {
    height:10px;
}
#maincontent #addTags input[type="submit"] {
    background:#ac0302;
    color:#fff;
    font-weight:bold;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:0;
    padding:2px 4px;
}

/* 
-------------------------------------------------
Embed
-------------------------------------------------
*/
.embed {
    background-image: url('images/iconCode.png') no-repeat 5px 4px;
    padding-left:23px;
    font-weight:bold;
    font-size:0.9em;
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top:3px;
}
.embed:hover {
    border-color:#bbb;
    cursor:pointer;
    color:#7d7d7d;
}
#maincontent #sharing{display:none;}
#sharing h3 {
    font-size:2.4em;
    font-weight:bold;
    letter-spacing:-1px;
    margin: 10px 0;
    text-transform:capitalize;
}
#sharing p {
    margin:15px 0;  
}
#sharing textarea {width:96%;}


.mh-video-thumb {
    border: solid rgba(174, 167, 141, 0.21) 10px;
    overflow: hidden;
    height: 0;
    margin-bottom: .75em;
    position: relative;
    padding: 0 0 52% 0;
}

.mh-video-thumb img{
    left: 0;
}

.mh-thumbnail-clip {
    overflow: hidden;
    margin-bottom: .75em;
    position: relative;
}
.mh-video-thumb img {
    max-width: 100%;
    max-height: 100%;

}
.mh-video-label {       
    padding: 0.75em;       
    width: 100%;       
    margin-top: -12px;     
    margin-bottom: 1.5em;      
}

.mh-video-label p {
    font-style: italic;
}

.mh-media-browse.page-1 > :first-child .mh-video-label p {      
    font-style: normal;
    font-size: 3.157em;
    font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;
 }

 .mh-media-browse.page-1 > :first-child .mh-video-label .wdn-subhead {
    margin: 0 0 0 0;   
 }

 .mh-video-label .wdn-subhead {     
    font-size: 10px;       
    margin: 0 0 1em 0;     
} 

.mh-video-label *, .mh-video-label a:visited {
    margin: 0;
}

.mh-video-thumb:hover .mh-play-button:after {
    display: block;
}

.mh-play-button:after {
    display: none;
	font-family: wdn-icon;
	font-style: normal;
	font-weight: 400;
	font-size: 200%;
	height: 0;
	width: 30%;
	padding: 15% 0;
	border-radius: 50%;
	background-color: rgba(208, 0, 0, 0.7);
	content: '\e813';
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15%;
	margin-top: -15%;
	line-height: 0;
	color: #fff;
	z-index: 10;
}


.mh-search #wdn_app_search form {
    float: none;
}

.mh-sidebar {
    margin-bottom: 3.375em;
}

.mh-sidebar .wdn-button span.wdn-icon{
    float: left;
}

.mh-sidebar .wdn-button {
    display: block;
}

#maincontent ul#mediaTags li.mh-tag-label {
    background: transparent;
    box-shadow: none;
}

.mh-stat .mh-size, .mh-stat .mh-ratio {
    font-size: 1.777em;
    display: block;
    white-space: nowrap;
}

@media only screen and (max-width: 480px)  {

    .mh-hide-bp1 {
        display: none !important;
    }

}

@media only screen and (max-width: 768px)  {

    .mh-sidebar {
    margin-top: 3.375em;
    }

    .mh-hide-bp2 {
        display: none !important;
    }

}

@media only screen and (max-width: 960px)  {

    .mh-hide-bp3 {
        display: none !important;
    }

}

@media only screen and (max-width: 1044px)  {

    .mh-hide-bp4 {
        display: none !important;
    }

}
