/* 
-------------------------------------------------
Supporting styles for individual presentation of lists of media
-------------------------------------------------
*/

.mh-media h1 {
	margin-top: 0;
}

.mh-btn-group {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.mh-btn-group > .wdn-button {
	float: left;
	position: relative;
	border-radius: 0;
}

.mh-sort-filter .mh-btn-group > .wdn-button:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.mh-sort-filter .mh-btn-group > .wdn-button:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.mh-sort-filter .mh-btn-group > .wdn-button {
	background-color: #d00000;
	margin-right: 0;
}

.mh-btn-group > .wdn-button.active {
	background-color: #2e240c;
}

.mh-media .wdn_pagination {
	text-align: center;
	padding: 0;
}

.mh-media .wdn_pagination li {
	display: inline-block;
	float: none;
}

@media (min-width: 768px) {
	.mh-media-browse.page-1 > :first-child {
		width: 66.6666%;
	}
}
