/* 
-------------------------------------------------
Supporting styles for search box
-------------------------------------------------
*/
body.fixed #maincontent {
    overflow:visible;	
}
#wdn_app_search {
    padding:10px;
    padding-right:0;
}
#wdn_app_search form {
    float: right;
    position: relative;
    font-size: 1em;
}
#wdn_app_search label {
	position:absolute;
    left: 20px;
    top: 6px;
	z-index:10;
	display:none;
}
form .wdn-input-group {
    font-size: 12px;
}
form .wdn-input-group .wdn-input-group-btn * {
    font-size: 12px;
}