/* 
-------------------------------------------------
Supporting styles for search box
-------------------------------------------------
*/
#wdn_app_search {
    padding:10px;
    padding-right:0;
}

#wdn_app_search .wdn-input-group-btn {
	top: -1px;
	position: relative;
}

#wdn_app_search form {
    position: relative;
    font-size: 1em;
    margin: auto;
}

.mh-list-header .wdn-icon-search {
	border-bottom:1px solid #137cbd;
}

@media (min-width: 768px) {
	#wdn_app_search form {
	    width: 33.3333%
	}
	
	#wdn_app_search label {
		color: #fff;
	}

}

form .wdn-input-group .wdn-input-group-btn > input[type="submit"],
form .wdn-input-group .wdn-input-group-btn > input[type="button"],
form .wdn-input-group .wdn-input-group-btn > button {
	font-size: 0.75em;
}

.mh-app-search {
	margin: 1em 0;
}

.mh-app-search > * {
	font-size: 0.75em;
}

.mh-channel-buttons li {
	float: left;
	list-style: none;
	margin:0 .75em .75em 0;
}

.mh-channel-buttons li .wdn-icon{
	padding: 0 1em 0 0;
}

ul.mh-channel-buttons {
	padding-left: 0;
}

@media (max-width: 768px) {

	.mh-app-search {
		margin: 1em 0 1em 0;
	}

}