/*
-------------------------------------------------
Supporting styles for search box
-------------------------------------------------
*/

.mh-app-search {
  margin: 1em 0;
}

.mh-app-search > * {
  font-size: .75em;
}

.mh-channel-buttons li {
  float: left;
  list-style: none;
  margin: 0 .75em .75em 0;
}

.mh-channel-buttons li .mh-icon {
  padding: 0 1em 0 0;
}

ul.mh-channel-buttons {
  padding-left: 0;
}


@media (max-width: 768px) {

  .mh-app-search {
    margin: 1em 0;
  }

}

@media (min-width: 768px) {

  #wdn_app_search form {
    width: 33.33%;
  }

  #wdn_app_search label {
    color: #fff;
  }

}
