form #thumbnail {
    width:120px;
}
#maincontent form fieldset {
	width:940px;
	background:#f4f4f4;
	}
#maincontent form fieldset legend {
	border:none;
	font-size:2em;
	color:#585d5f;
	margin:0 0 70px -5px;
	}
#maincontent form fieldset ol {
	margin-top:-25px;
	}

#maincontent form fieldset li #description_wrapper li {
    list-style: inline;
    margin: 0;
    clear: none;
    display: normal;
    float: left;
    width: auto;
}
#maincontent form fieldset li #description_wrapper {
	background-color:#FFF;
}
#maincontent form fieldset li #description_wrapper * {
	margin:0;
    font-size:9px;
	max-width:520px;
}
#maincontent form fieldset li #description_wrapper iframe {
	clear:both;
}

#maincontent #description_wrapper fieldset {
	margin:0px !important;
	padding:0px;
	border:none;
	background-color:#EEE;
	float:none;
}

#maincontent #description_wrapper .yui-toolbar-titlebar {
	padding:2px;
}

#description-panel {
	background-color:#FAFAFA;
	border:1px solid #DDD;
}

#description-panel .close {
	background-color:#CCC;
	border:1px solid;
}

<<<<<<< .mine
iframe * {margin:0px}

div.form-help {
	border:1px solid black;
	float:right;
}

div.form-help a {
	
}
/*
div.form-help div.help-content {
	width: 250px;
  	margin: 0 0 0 14px;
  	border: 1px solid #c93;
  	padding: 10px 12px;
  	background: #ffc;
  	float:right;
  	z-index:999;
}

div.form-help span.help-pointer {
	background: url(images/pointer.gif) no-repeat top left;
	width:10px;
	height:19px;
	display:block;
	position:relative;
	top:5px;
	left:-22px;
}*/
=======
iframe * {margin:0px}
.yui-skin-sam .yui-editor-container ul {padding-left:0px !important;}
.yui-skin-sam .yui-editor-container a {background:none;}
.yui-skin-sam .yui-editor-container span {color:black !important;}>>>>>>> .r163
