/* 
-------------------------------------------------
Supporting styles for the manager areas
-------------------------------------------------
*/

/*
*
* Links with icons/GUI
*
*/
div.actionItems a.action {
    width:180px;
    padding-left:16%;
    margin-bottom:15px;	
}
a.action { /*Setup the main UI for buttons*/
	background-color: #385E9B;
	background-image: url('images/iconPlus.png');
    background-image: url('images/iconPlus.png'), -moz-linear-gradient(top, #499bea 0%, #385E9B 100%);
    background-image: url('images/iconPlus.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#385E9B));
	background-position:5% 50%;	
	background-origin: padding-box;
	background-repeat:no-repeat;
	font-size:1em;
	font-weight:bold;
	color:#fff !important;
	padding:10px 10px 10px 25px;
	border:1px solid #3572ac;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    display:inline-block;
}
a.action:hover {
    color:#fff;
    -webkit-box-shadow: inset 1px 1px 3px rgba(29, 59, 108, 0.4);
    -moz-box-shadow: inset 1px 1px 3px rgba(29, 59, 108, 0.4);
    box-shadow: inset 1px 1px 3px rgba(29, 59, 108, 0.4); 
    background-color: #3665b2;
    background-image: url('images/iconPlus.png');
    background-image: url('images/iconPlus.png'), -moz-linear-gradient(top, #499bea 0%, #3665b2 100%);
    background-image: url('images/iconPlus.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#3665b2));
}
a.solo { /*Setup the non-button UI*/
    margin-right:10px;
    padding:3px 19px 0 0;
    width:16px;
    height:16px;
    background-position:bottom right;
}

a.feed-icon{margin-right:3px;}
a.edit{
    background-image:url('images/iconEdit.png');
    background-repeat:no-repeat;
}
a.action.edit {
	background:#F0CE69;
    background-image:url('images/iconEdit.png');
    background-image: url('images/iconEdit.png'), -moz-linear-gradient(center bottom,rgb(219,183,83) 11%,rgb(240,206,105) 30%);
    background-image: url('images/iconEdit.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(219,183,83)),color-stop(0.3, rgb(240,206,105)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-color:#d4b455;
    color:#5e4806 !important;
}
a.action.edit:active {background-image:url('images/iconEdit.png');}
a.action.users {
    background:#E6E9DC;
    background-image:url('images/iconUsers.png');
    background-image: url('images/iconUsers.png'), -moz-linear-gradient(center bottom,rgb(206,209,197) 11%,rgb(230,233,220) 30%);
    background-image: url('images/iconUsers.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(206,209,197)),color-stop(0.3, rgb(230,233,220)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-color:#bec1b4;
    color:#4b4c47 !important;
}
a.action.users:active{background-image:url('images/iconUsers.png');}

a.action.delete {
    background:#e37f7f;
    background-image:url('images/iconDelete.png');
    background-image: url('images/iconDelete.png'), -moz-linear-gradient(center bottom,rgb(186,74,74) 11%,rgb(227,127,127) 30%);
    background-image: url('images/iconDelete.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(186,74,74)),color-stop(0.3, rgb(227,127,127)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-color:#d4b455;
    color:#f7f7f7 !important;
}
a.action.delete:active {background-image:url('images/iconDelete.png');}

.media-preview, #progress {
	background:#ECF4F8;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	margin-bottom:15px;
	overflow: auto;
	padding:10px 0;
}

.uploading {
    display:none;
}

.media-preview ol {
    font-size:1.2em;
    line-height:1.4em;	
}
.media-preview #thumbnail {
	margin: 0px auto;
	width:230px;
	float:left;
}
.media-preview .action {
	float:right;
	margin:50px;
}

#dcf-main #userList, #dcf-main #outpostExtension ul {
	list-style:none;
	padding:0;
}
#dcf-main #userList {
    list-style:none;
    padding:0;
    padding:10px;
}
#dcf-main #userList li {
    display:inline-block;
    text-align:center;
    padding: 0 10px 10px 0;
    position:relative;
}
#dcf-main #userList li .uid {
    font-size:0.6em;
    color: #a8a8a8;
    display:block;  
}
#dcf-main #userList li img {border: solid rgba(174, 167, 141, 0.21) 10px;display:block;margin-left:auto;margin-right:auto;}
#dcf-main #userList li form {
    position:absolute;
    top:6px;
    right:7px;
    display:none;
}
#dcf-main #userList li:hover form {display:block;}

#dcf-main #userList li form input[type='submit'] {
    -webkit-box-shadow: -1px 1px 3px var(--b);
    -moz-box-shadow: -1px 1px 3px var(--b);
    box-shadow: -1px 1px 3px var(--b);
}

#dcf-main .addData {
    padding:10px;
    border-top:2px solid var(--b);

}

#dcf-main #emailList + form input[type='text']{
    display:block;
    width:84%;
    padding-left:25px;
    background: #fff url('images/iconEmail.png') no-repeat 5px 50%;
}

#dcf-main #outpostExtension h3 {
	background:url('images/iconVideo.png') no-repeat left top;
	padding-left:30px;
}
#dcf-main #outpostExtension h3 span {
	font-size:0.7em;
	color:#385E9B;
	text-transform:uppercase;
	font-weight:bold;
}

#dcf-main #outpostExtension li a {
	background:#E6E9DC;
    background-image:url('images/iconBoxee.png');
    background-image: url('images/iconBoxee.png'), -moz-linear-gradient(center bottom,rgb(206,209,197) 11%,rgb(230,233,220) 30%);
    background-image: url('images/iconBoxee.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(206,209,197)),color-stop(0.3, rgb(230,233,220)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border:1px solid;
    border-color:#bec1b4;
    color:#4b4c47 !important;
    padding:15px 15px 15px 50px;
    margin-bottom:10px;
    font-size:1.5em; 
    font-weight:bold;
    display:block;
}
#dcf-main #outpostExtension li a:focus {color:#4b4c47 !important;}
#dcf-main #outpostExtension li.itunes a {
	background-image:url('images/iconItunes.png');
    background-image: url('images/iconItunes.png'), -moz-linear-gradient(center bottom,rgb(206,209,197) 11%,rgb(230,233,220) 30%);
    background-image: url('images/iconItunes.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(206,209,197)),color-stop(0.3, rgb(230,233,220)));
}
#dcf-main #outpostExtension li.youtube a {
    background-image:url('images/iconYouTube.png');
    background-image: url('images/iconYouTube.png'), -moz-linear-gradient(center bottom,rgb(206,209,197) 11%,rgb(230,233,220) 30%);
    background-image: url('images/iconYouTube.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(206,209,197)),color-stop(0.3, rgb(230,233,220)));
}

#media_form p.caption, dl.caption {
	margin-top: 5px;
	text-align: right;
	color:#1091d1;
	border:none;
	background:none;
}
dl.caption {
	text-align:left;
	}

#dcf-main dl.caption dd {
	padding-left:0px;
}

#filelist {
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
}

#filelist b {
    font-family: "Tungsten A","Tungsten B",Impact,Haettenschweiler,"Arial Narrow Bold","Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
    font-size: 2.369em;
    display: block;
}

/*
Google Maps override to display correctly in the framework
*/
#map_canvas img { max-width: none; }

.mh-caption-sidebar {
    padding: .75em 1em;
    background-color: var(--bg-light-gray);
}

dl {
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
    margin: 0;
}

dl dt {
    font-weight: bold;
    font-size: .75em;
}

dl dd {
    font-family: "Mercury SSm A","Mercury SSm B",Georgia,Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
    background-color: var(--bg-light-gray);
    margin-left: 0;
    padding: .75em;
    margin-bottom: 1em;
}

label[for=format] {
    display: block;
}

select#format {
    max-width: 220px;
    clear: both;
    display: block;
    float: left;
    margin-right: .75em;
}

#download_format {
    margin-bottom: 2em;
}

#transcoding-progress progress,
#ai-caption-progress progress {
    display: block;
    width: 100%;
}