/*
-------------------------------------------------
Supporting styles for the manager forms (add media, channel)
-------------------------------------------------
*/

/*#enhanced_header, #existing_media, #feedSelect, #dcf-main form.zenform #continue3 {display: none;}*/



#dcf-main form.zenform {max-width:930px;margin-top:5px;background-color:#E6E9DC;
    background-image:-webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.2, rgb(230,233,220)),
                        color-stop(1, rgb(244,247,234))
                    );
    background-image:-moz-linear-gradient(
                        center bottom,
                        rgb(230,233,220) 20%,
                        rgb(244,247,234) 100%
                    );}

#imageOverlay {
    font-style:bold;
    position:fixed;
    float:left;
    padding: 2% 2% 2% 5em;
    background:#000 url('images/loading.gif') no-repeat 10px 10px;
    background-position: 1.8em;
    color:#fff;
    display:none;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    top: 40%;
    opacity:0.7;
    z-index: 105;
}

#dcf-main form fieldset li #description_wrapper li {
    list-style: inline;
    margin: 0;
    clear: none;
    display: normal;
    float: left;
    width: auto;
}
#dcf-main form fieldset li #description_wrapper iframe {
	clear:both;
}

#dcf-main #description_wrapper fieldset {
	margin:0px !important;
	padding:0px;
	border:none;
	background-color:#EEE;
	float:none;
}

#dcf-main #description_wrapper .yui-toolbar-titlebar {
	padding:2px;
}

#description-panel {
	background-color:#FAFAFA;
	border:1px solid #DDD;
}

#description-panel .close {
	background-color:#CCC;
	border:1px solid;
}
iframe * {margin:0px}

#dcf-main #media_form > fieldset > legend + ol > li:first-child {
    border-bottom: 1px solid #ffff;
}

.mh-upload-box {
    width: 100%;
    border: 2px dashed var(--b);
    background-color: var(--bg-body);
    display: block;
    cursor: pointer;
}

.mh-upload-box h2 {
    font-size: 4.499rem;
    margin: 0;
    line-height: 0.5em;
}

.mh-upload-box p {
    font-size: .75em;
    font-style: italic;
}

[class*=col-one-half] .mh-video-thumb.mh-featured-channel {
    padding: 0 0 70% 0;
}

.mh-your-channels .mh-video-label h6{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#videoDisplay {
    position: relative;
}

#setImage {
    position: absolute;
    top: 46px;
    right: 25px;
    z-index: 100;
}

#videoDisplay .share-video-link {
    display: none;
}
.mh-edit-media fieldset{
    margin:0;
}

.mh-edit-media fieldset li {
    list-style: none;
}

.mh-channel-edit form fieldset {
    margin: 0;
}

#videoData h5 {
    font-size: 1.333em;
}

#deleteForm {
    display: none;
}

input[value="Save"] {
    margin-right: 1em;
}

form legend {
    margin: 0;
    font-size: 1.899em;
    line-height: 1em;
    border: none;
    font-weight: 400;
}

#headline_main .mh-share-this-page {
    display: none;
}

.mh-unknown {
    color: #d00000;
}

@media only screen and (max-width : 768px) {

    .mh-upload-band .mh-upload-box{
        margin-bottom: 1em;
    }

}







