/* 
-------------------------------------------------
Supporting styles for the manager forms (add media, channel)
-------------------------------------------------
*/
#enhanced_header, #existing_media, #feedSelect, #maincontent form.zenform #continue3 {display:none;}
#maincontent form.zenform {max-width:930px;margin-top:5px;background-color:#E6E9DC;
    background-image:-webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.2, rgb(230,233,220)),
                        color-stop(1, rgb(244,247,234))
                    );
    background-image:-moz-linear-gradient(
                        center bottom,
                        rgb(230,233,220) 20%,
                        rgb(244,247,234) 100%
                    );}
form #thumbnail {
    width:120px;
}
#imageOverlay {
    font-style:bold;
    position:absolute;
    float:left;
    padding:10px;
    padding-left:50px;
    background:#000 url('images/loading.gif') no-repeat 10px 10px;
    color:#fff;
    left:0px;
    display:none;
    margin-left:10px;
    opacity:0.7;
}
#maincontent form fieldset {
	width:940px;
	}


#maincontent form fieldset li #description_wrapper li {
    list-style: inline;
    margin: 0;
    clear: none;
    display: normal;
    float: left;
    width: auto;
}
#maincontent form fieldset li #description_wrapper iframe {
	clear:both;
}

#maincontent #description_wrapper fieldset {
	margin:0px !important;
	padding:0px;
	border:none;
	background-color:#EEE;
	float:none;
}

#maincontent #description_wrapper .yui-toolbar-titlebar {
	padding:2px;
}

#description-panel {
	background-color:#FAFAFA;
	border:1px solid #DDD;
}

#description-panel .close {
	background-color:#CCC;
	border:1px solid;
}
iframe * {margin:0px}

#maincontent .collapsible legend {
    border-bottom: 1px solid #D5D4D4;
    width: 99%;
    cursor: pointer;
}

#maincontent .collapsible ol {
    border: none;
}

#maincontent #media_form > fieldset > legend + ol > li:first-child {
    border-bottom: 1px solid #ffff;
}

#maincontent .collapsible .toggle {
    float: right;
    font-size: 10px;
}

.mh-upload-box {
    width: 100%;
    padding: 37% 0 63% 0;
    height: 0;
    border: 2px dashed RGB(213,213,210);
    line-height: 0;
    background-color: RGBA(255,255,255,.75);
}
.mh-upload-box h2 {
    font-size: 4.499rem;
    margin: 0;
    line-height: 0.5em;
}

.mh-upload-box p {
    font-size: .75em;
    font-style: italic;
}

.mh-channel-box {
    padding: .75em;
    border: 1px solid #d5d5d2;
    background-color: #fff;
    overflow: scroll;
    max-height: 15.25em;
}

.mh-tool-tip {
    background-color: #1B9AE8;
    border-radius: 2em;
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.2em;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.6em;
    position: relative;
    font-size: .8125rem;
}

.mh-tool-tip > div:after {
    background-color: transparent;
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position:absolute;
    bottom:-10px;
    left:50%;
    margin-left:-10px;
}

.mh-tool-tip > div {
    position: absolute;
    display: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 1px 4px RGBA(0,0,0,0.2);
    padding: .75em;
    bottom: 160%;
    left: -720%;
    width: 300px;
    text-align: left;
}

.mh-tool-tip ul li{
    margin-bottom: .75em;
}

.mh-tool-tip span.heading{

    font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-size: 1.777em;
}

.mh-tool-tip:hover > div {

    display: block;

}
