/* 
-------------------------------------------------
Supporting styles for the manager forms (add media, channel)
-------------------------------------------------
*/

/*#enhanced_header, #existing_media, #feedSelect, #maincontent form.zenform #continue3 {display: none;}*/



#maincontent form.zenform {max-width:930px;margin-top:5px;background-color:#E6E9DC;
    background-image:-webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.2, rgb(230,233,220)),
                        color-stop(1, rgb(244,247,234))
                    );
    background-image:-moz-linear-gradient(
                        center bottom,
                        rgb(230,233,220) 20%,
                        rgb(244,247,234) 100%
                    );}

#imageOverlay {
    font-style:bold;
    position:fixed;
    float:left;
    padding: 2% 2% 2% 5em;
    background:#000 url('images/loading.gif') no-repeat 10px 10px;
    background-position: 1.8em;
    color:#fff;
    display:none;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    top: 40%;
    opacity:0.7;
    z-index: 105;
}

#maincontent form fieldset li #description_wrapper li {
    list-style: inline;
    margin: 0;
    clear: none;
    display: normal;
    float: left;
    width: auto;
}
#maincontent form fieldset li #description_wrapper iframe {
	clear:both;
}

#maincontent #description_wrapper fieldset {
	margin:0px !important;
	padding:0px;
	border:none;
	background-color:#EEE;
	float:none;
}

#maincontent #description_wrapper .yui-toolbar-titlebar {
	padding:2px;
}

#description-panel {
	background-color:#FAFAFA;
	border:1px solid #DDD;
}

#description-panel .close {
	background-color:#CCC;
	border:1px solid;
}
iframe * {margin:0px}

#maincontent .collapsible legend {
    width: 99%;
    cursor: pointer;
}

#maincontent .collapsible ol {
    border: none;
}

#maincontent #media_form > fieldset > legend + ol > li:first-child {
    border-bottom: 1px solid #ffff;
}

#maincontent .collapsible .toggle {
    width: .75em;
    display: inline-block;
}

.mh-upload-box {
    width: 100%;
    padding: 37% 0 63% 0;
    height: 0;
    border: 2px dashed RGB(213,213,210);
    background-color: RGBA(255,255,255,.75);
    display: block;
}
.mh-upload-box h2 {
    font-size: 4.499rem;
    margin: 0;
    line-height: 0.5em;
}

.mh-upload-box p {
    font-size: .75em;
    font-style: italic;
}

.mh-channel-box {
    padding: .75em;
    border: 1px solid #d5d5d2;
    background-color: #fff;
    overflow: scroll;
    max-height: 15.25em;
}


.mh-tooltip ul li{
    margin-bottom: .75em;
}

.mh-tooltip span.heading{

    font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-size: 1.777em;
}

.mh-tooltip:hover > div {
    display: block;
}

.mh-tooltip p {
    margin: 0;
}

[class*=col-one-half] .mh-video-thumb.mh-featured-channel {
    padding: 0 0 70% 0;
}

.mh-your-channels .mh-upload-box {
    padding: 14% 0 46% 0;
}

.mh-your-channels .mh-video-label h6{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#videoDisplay {
    position: relative;
}

#setImage {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 100;
}

#videoDisplay .share-video-link {
    display: none;
}
.mh-edit-media fieldset{
    margin:0;
}

.mh-edit-media fieldset li {
    list-style: none;
}

.mh-channel-edit form fieldset {
    margin: 0;
}

.mh-channel-edit .wdn-subhead a.users {
    font-size: .75em;
}

.wdn-button-brand {
    background-color: #d00000 !important;
}

form legend {
    margin: 0;
    font-size: 1.899em;
    line-height: 1em;
    border: none;
    font-weight: 400;
}

.mh-tooltip {
    background-color: #1B9AE8;
    border-radius: 2em;
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.2em;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.6em;
    position: relative;
    font-size: .8125rem;
}


.mh-tooltip > div {
    position: absolute;
    display: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 1px 4px RGBA(0,0,0,0.2);
    padding: .75em;
    bottom: 160%;
    left: -720%;
    width: 300px;
    text-align: left;
    z-index: 250;
}

.mh-tooltip > div:before {
    background-color: white;
    content: "";
    display: block;
    width: 15px; 
    height: 15px; 
    position:absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 0px 0px 4px RGBA(0,0,0,0.25);
}

.mh-tooltip > div:after {
    content:"";
    height:10px;
    width:40px;
    background-color:#fff;
    display:block;
    position:absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -24px;
}

@media only screen and (max-width : 768px) {

    .mh-upload-band .mh-upload-box{
        padding: 15% 0 35% 0;
        margin-bottom: 1em;
    }

    .mh-tooltip > div {
        left: -22px;
        margin-left: -25%;
        width: 300px;
        bottom: 25px;
        text-align: left;
        z-index: 250;
    }

    .mh-tooltip > div:before {
        left: 11%;
        margin-left: -7px;
    }

    .mh-tooltip > div:after {
        
        height:10px;
        width:40px;
        left: 11%;
        margin-left: -24px;

    }

}







