#main_right {overflow:visible;}
#enhanced_header, #existing_media, #feedSelect, #maincontent form.zenform #continue3, #file_upload {display:none;}
#maincontent form.zenform {width:930px;margin-top:5px;}
#feedlist h1 {
	background: url(images/h1Feeds.png) no-repeat top left;
	padding-left: 60px;
	font-size: 2em;
	border-bottom: 2px solid #e8e9ea;
	margin:2em 0 1em 0;
	}
#tabnav {
	list-style-type: none;
	margin:30px 0  0 -30px;
	padding:10px;
}
#tabnav li {
	display:inline;
	background:#7db0c9 url(images/tabTL.png) top left no-repeat;
	padding:10px;
}
#tabnav li.selected {
	background:#1091d1 url(images/tabTLselected.png) top left no-repeat;
}

#tabnav li a {
	color:white;
	background:none;
	padding:10px;
	padding-right:20px;
	margin-right:-10px;
	background: url(images/tabTR.png) top right no-repeat;
	}
#tabnav li.selected a {
	background:#1091d1 url(images/tabTRselected.png) top right no-repeat;
}
#tabnav li a:focus {
	color:white;
	}
#formContent {
	margin:-5px;
	background: #1091d1;
	borer-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
	padding:15px;
	}
#formContent input#url, #formContent input#file_upload {
	width: 860px;
	font-size:2em;
	color:#878c8e;
	}
p.submit, p.action {
	margin-top: 0px;
	background:url(images/submitL.png) top left no-repeat;
	display:inline-block;
	height:45px;
	padding-left:5px;
}
p.action {
	background:url(images/actionL.png) top left no-repeat;
	height:37px;
	padding-left:5px;
	display:block;
	}
p.submit a, p.action a {
    background:url(images/submitR.png) no-repeat top right;
    font-size:1.5em;
    color:#FFF !important;
    display:inline-block;
    padding:15px 45px 15px 10px;
}
#maincontent p.submit a:focus {
    color:#fff !important;	
}
p.action a {
	background:url(images/actionR.png) no-repeat top right;
	font-size:1em;
	color:#6a6a6a;
	padding:10px 25px 10px 5px;
	}
#media_form p.caption, dl.caption {
	margin-top: 5px;
	text-align: right;
	color:#1091d1;
	border:none;
	background:none;
}
dl.caption {
	text-align:left;
	}
#maincontent dl.caption dd {
	padding-left:0px;
	}
div.headline_main {
	background:#ecf4f8;
	width:900px;
	height:100px;
	padding:25px 20px 20px 20px;
	margin-bottom:30px;
    borer-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#maincontent div.headline_main h1 {
	font-size:3em;
	float:left;
	padding-top:26px;
}
div.headline_main img {
	float:right;
}