#main_right {overflow:visible;}
#enhanced_header, #existing_media, #feedSelect, #maincontent form.zenform #continue3, #file_upload {display:none;}
#maincontent form.zenform {max-width:930px;margin-top:5px;}

#tabnav {
	list-style-type: none;
	margin:30px 0  0 -30px;
	padding:10px;
}
#tabnav li {
	display:inline;
	background:#7db0c9 url(images/tabTL.png) top left no-repeat;
	padding:10px;
}
#tabnav li.selected {
	background:#1091d1 url(images/tabTLselected.png) top left no-repeat;
}

#tabnav li a {
	color:white;
	background:none;
	padding:10px;
	padding-right:20px;
	margin-right:-10px;
	background: url(images/tabTR.png) top right no-repeat;
	}
#tabnav li.selected a {
	background:#1091d1 url(images/tabTRselected.png) top right no-repeat;
}
#tabnav li a:focus {
	color:white;
	}
#formContent {
	margin:-5px;
	background: #1091d1;
	borer-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
	padding:15px;
	}
#formContent input#url, #formContent input#file_upload {
	width: 860px;
	font-size:2em;
	color:#878c8e;
}
.list_header {
    border-bottom:1px solid #E8E9EA;  
    margin-top:15px; 
}
/*
*
* Links with icons/GUI
*
*/
div.actionItems a.action {
    width:180px;
    padding-left:16%;
    margin-bottom:15px;	
}
a.action { /*Setup the main UI for buttons*/
	background:#90ad4c;
	background-image: url('images/iconPlus.png');
	background-image: url('images/iconPlus.png'), -moz-linear-gradient(center top,rgb(169,208,79) 63%,rgb(144,173,76) 87%);
	background-image: url('images/iconPlus.png'), -webkit-gradient(linear,left top,left bottom,color-stop(0.63, rgb(169,208,79)),color-stop(0.87, rgb(144,173,76)));
	background-position:5% 50%;	
	background-origin: padding-box;
	background-repeat:no-repeat;
	font-size:1em;
	font-weight:bold;
	color:#fff !important;
	padding:10px 10px 10px 25px;
	border:1px solid #78923a;
	border-radius:5px;
	-webkit-border-radius:5px;
	-mox-border-radius:5px;
    display:inline-block;
}
a.action:active {
    background-image: url('images/iconPlus.png');	
}
a.solo { /*Setup the non-button UI*/
    margin-right:10px;
    padding:3px 19px 0 0;
    width:16px;
    height:16px;
    background-position:bottom right;
}

a.feed-icon{margin-right:3px;}
a.edit{
    background-image:url('images/iconEdit.png');
    background-repeat:no-repeat;
}
a.action.edit {
	background:#F0CE69;
    background-image:url('images/iconEdit.png');
    background-image: url('images/iconEdit.png'), -moz-linear-gradient(center bottom,rgb(219,183,83) 11%,rgb(240,206,105) 30%);
    background-image: url('images/iconEdit.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(219,183,83)),color-stop(0.3, rgb(240,206,105)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-color:#d4b455;
    color:#5e4806 !important;
}
a.action.edit:active {background-image:url('images/iconEdit.png');}
a.action.users {
    background:#E6E9DC;
    background-image:url('images/iconUsers.png');
    background-image: url('images/iconUsers.png'), -moz-linear-gradient(center bottom,rgb(206,209,197) 11%,rgb(230,233,220) 30%);
    background-image: url('images/iconUsers.png'), -webkit-gradient(linear,left bottom,left top,color-stop(0.11, rgb(206,209,197)),color-stop(0.3, rgb(230,233,220)));
    background-position:5% 50%;
    background-repeat:no-repeat;
    border-color:#bec1b4;
    color:#4b4c47 !important;
}
a.action.users:active{background-image:url('images/iconUsers.png');}




#maincontent #channelIntro {
    background:#f1f3ea;
    borer-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:15px 25px;
    	
}
#maincontent #channelIntro > img {
    float:right;
}
#maincontent #channelIntro ul{
    margin:10px 0;	
    padding:0;
}
#maincontent #channelIntro ul li {
    list-style:none;
    display:inline; 
    padding:0px 10px 0 0;	
}

#maincontent .medialist {
	list-style:none;
	padding:0;
}

#maincontent .medialist > li {
    list-style:none;
    display:inline-block;
    background: #E6E9DC;
    padding:15px;
    border:1px solid #bec1b4;
    borer-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin:0 10px 10px 0;
    text-align:center;
    width:110px;
}
#media_form p.caption, dl.caption {
	margin-top: 5px;
	text-align: right;
	color:#1091d1;
	border:none;
	background:none;
}
dl.caption {
	text-align:left;
	}
#maincontent dl.caption dd {
	padding-left:0px;
	}
div.headline_main {
	background:#ecf4f8;
	width:900px;
	height:100px;
	padding:25px 20px 20px 20px;
	margin-bottom:30px;
    borer-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#maincontent div.headline_main h1 {
	font-size:3em;
	float:left;
	padding-top:26px;
}
div.headline_main img {
	float:right;
}
#feedlist h1 {
    background: url('images/h1Feeds.png') no-repeat top left;
    padding:14px 0 0 60px;
    font-size: 2em;
    border-bottom: 2px solid #e8e9ea;
    margin:2em 0 1em 0;
}
#feedlist ul {
	list-style:none;
	padding-left:0;
	margin-top:10px;
}
#feedlist ul li {
    padding:5px;
}
#feedlist ul li:hover {
    background:#d2e3fb;	
}